header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    margin-top: 8px;
    border: 1px solid white;
    border-radius: 4px;
    img {
        height: 40px;
    }
    span {
        color: white;
        font-weight: bold;
        font-size: 44px;
    }
}

.link-box {
    display: flex;
    a {
        color: #B9B9BD;
        text-decoration: none;
        padding: 26px 20px 26px 20px;
        transition: all 125ms ease-in-out;
        &:hover {
            color: white;
            background-color: #5221E6;
        }
    }
}