<footer class="page-padding">
  <div class="container-left">
    <span class="name-abbreviation">L.K</span>
    <div class="social-media-icons">
      <a href="https://www.linkedin.com/in/lukas-klammer-41b80511b/" target="_blank">
        <img src="assets/img/linkedin_blue.png" alt="LinkedIn-Logo" href="https://www.linkedin.com/in/lukas-klammer-41b80511b/">
      </a>
      <a href="https://www.xing.com/profile/Lukas_Klammer12/" target="_blank">
        <img src="assets/img/xing_logo.png" alt="Xing-Logo">
      </a>
      <a class="github-logo" href="https://github.com/LukasKlammer" target="_blank">
        <img src="assets/img/github_logo.png" alt="GitHub-Logo">
      </a>
    </div>
    <div class="legal-notice-links">
      <a class="font-color-lightgray" routerLink="/imprint">Imprint - Legalnotice</a>
      <a class="font-color-lightgray" routerLink="/data-protection">Data - Protection</a>
    </div>
  </div>
  <div class="container-right">
    <div class="footer-links">
      <a href="#intro">Home</a>
      <a href="#about-me">About me</a>
      <a href="#skillset">Skillset</a>
    </div>
    <div class="footer-links">
      <a href="#projects">Projects</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#contact-form">Contact</a>
    </div>
  </div>
</footer>
