<footer class="page-padding">
  <div class="container-left">
    <span class="name-abbreviation">L.K</span>
    <div class="social-media-icons">
      <a href="https://www.linkedin.com/in/lukas-klammer-41b80511b/" target="_blank">
        <img src="assets/img/linkedin_blue.png" alt="LinkedIn-Logo" href="https://www.linkedin.com/in/lukas-klammer-41b80511b/">
      </a>
      <a href="https://www.xing.com/profile/Lukas_Klammer12/" target="_blank">
        <img src="assets/img/xing_logo.png" alt="Xing-Logo">
      </a>
    </div>
    <div class="legal-notice-links">
      <a class="font-color-lightgray" routerLink="/imprint">Impressum - Legalnotice</a>
      <a class="font-color-lightgray" routerLink="/data-protection">Data - Protection</a>
    </div>
  </div>
  <div class="container-right">
    <div class="footer-links">
      <a routerLink="/" href="">Home</a>
      <a routerLink="/" href="">About</a>
      <a routerLink="/" href="">Work</a>
      <a routerLink="/" href="">Process</a>
    </div>
    <div class="footer-links">
      <a routerLink="/" href="">Store</a>
      <a routerLink="/" href="">Blog</a>
      <a routerLink="/" href="">Reading List</a>
    </div>
  </div>
</footer>
