<div class="about-me-container page-padding" id="about-me">
    <h2 class="font-color-darkgrey">About me</h2>
    <p class="font-color-lightgray">I am a front end developer with passion to build software projects alone and in groups that you can find on my public GitHub account. I was professionally trained by a software development school in Munich - Germany. In the last 7 seven years I worked as a mathematics and science teacher in a secondary school. Through my passion to IT and modern didactics, in 2016 I became member of a BYOD-pilot-project at our school district. In the following years I became a key user, district admin and software tester for different school management software and I mentored teachers to increase their digital skills. It always excited me to be involved in the further development of my colleagues, our students and our software tools. With my experience, I developed a high level of responsibility, logical thinking and organizational talent (SCRUM).</p>
    <!-- <a class="font-color-lightgray" href="#">More about me</a> -->
</div>
<img src="assets/img/myself.jpg" alt="">
