<div class="black-section-container page-padding">
  <div class="left-container">
    <h2>Let's talk business</h2>
    <p>Now that you know a lot about me, let me know if you are interested to work with me.</p>
  </div>
  <div class="right-container">
    <form onsubmit="">
      <div class="label-input">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Gib deinen Namen ein." required>
      </div>
      <div class="label-input">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Gib deine E-Mail-Adresse ein." required>
      </div>
      <div class="label-input">
        <label for="message">Message</label>
        <textarea name="" id="message" name="message" placeholder="Deine Nachricht an mich." required></textarea>
      </div>
      <button class="primary-button">LET'S GET STARTED</button>
    </form>
  </div>
</div>
