:host {
    width: calc(50% - 50px);
    img {
        width: 40px;
        object-fit: contain;
    }
    p {
        line-height: 150%;
    }
}

@media (max-width: 700px) {
  :host {
    width: unset;
  }
}
