:host {
    display: block;
    img {
      display: block;
    }
}

.testimonial-card-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.testimonial-card-texts {
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-left: 1px solid #5B6876;
    border-right: 1px solid #5B6876;
    border-bottom: 1px solid #5B6876;
    p {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 48px;
    }
}

.name-text {
    font-weight: bold;
    padding-bottom: 6px;
}
