@media(max-width: 900px) {
  .legacy-container {
    padding-top: 150px;
    word-wrap: break-word;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
