html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.page-padding {
  padding: 0px 72px 0px 40px;
}

.padding-bottom {
  padding-bottom: 100px;
}

h1 {
  font-weight: bold;
  font-size: 76px;
}

h2 {
  font-weight: bold;
  font-size: 55px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

h5 {
  font-weight: bold;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.name-abbreviation {
  color: white;
  font-weight: bold;
  font-size: 44px;
}

.font-color-darkgrey {
  color: #181823;
}

.font-color-lightgray {
  color: #5B6876;
}

.primary-button {
  background-color: #5221E6;
  padding: 12px 24px;
  border-radius: 4px;
  color: white;
  border: none;
  border-style: solid;
  cursor: pointer;

  &:hover {
    background-color: #1E0079;
  }

  &:disabled {
    background-color: #B9ABE6;
  }
}

.alternative-button {
  background-color: white;
  padding: 11px 23px;
  border-radius: 4px;
  color: #5221E6;
  border-color: #5221E6;
  border-style: solid;
  cursor: pointer;

  &:hover {
    background-color: #5221E6;
    color: white;
  }

  &:disabled {
    background-color: #EDEDED;
    color: #B9ABE6;
    border-color: #B9ABE6;
  }
}

.black-section-container {
  padding-top: 150px;
  display: flex;
  gap: 24px;
  background-color: black;
  color: white;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 50px;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.legacy-container {
  background-color: #000000;
  color: white;
  padding-top: 100px;

  a {
    color: white;
  }
}

p, span {
  line-height: 1.5;
  font-size: 18px;
}

html:not([data-lt-script-installed]):not(.__lt-dummy-1):not(.__lt-dummy-2):not(.__lt-dummy-3):not(.__lt-dummy-4):not(.__lt-dummy-5):not(.__lt-dummy-6):not(.__lt-dummy-1654869771686) lt-mirror{
  display: none !important;
}

@media(max-width: 900px) {
  .legacy-container {
    padding-top: 100px !important;
    word-wrap: break-word;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .page-padding {
    padding: 0px 16px 0px 16px;
  }

  h2 {
    font-size: 35px !important;
  }
}

@media (max-width: 700px) {
  .mobile-show-column {
    display: flex;
    flex-direction: column;
  }

  .left-container {
    width: unset;
  }
}
